-
  var about = {
    header: 'Компания СпецТехноАльянс',
    text: 'Наша компания располагает современной буровой техникой, имеет штат профессиональных специалистов с большим стажем и опытом работы. Машины и оборудование соответствует требованиям Технических регламентов и зарегистрированы в контролирующих органах.',
    image: 'img/about-image.png',
    text2: '<strong>Компания работает на строительном рынке с 2015 года.</strong> За это время накоплен значительный опыт в строительной отрасли.',
    items: [
      { image: 'img/sprite.svg#about-06', text: 'Доступные цены' },
      { image: 'img/sprite.svg#about-02', text: 'Более 300 объектов' },
      { image: 'img/sprite.svg#about-03', text: 'Гарантированный результат' },
      { image: 'img/sprite.svg#about-04', text: 'Сжатые сроки' },
      { image: 'img/sprite.svg#about-05', text: 'Высокая квалификация' },
      { image: 'img/sprite.svg#about-01', text: 'Многолетний опыт' },
    ],
  }

.about#about
  .container
    if index
      h2.about__header !{about.header}
      .about__text !{about.text}
    else
      h2.about__header О компании
      .about__text Компания ООО «СпецТехноАльянс» выполняет все работы нулевого цикла строительства под ключ, включая инженерные изыскания. Для этого у нас имеются все необходимые допуски, высококвалифицированные специалисты и оборудование.
    .about__inner.flex
      .about__left
        img.about__image(src=about.image, alt="")
      .about__right
        .about__text_2 !{about.text2}
        if index
          .about-items.flex
            each item in about.items
              .about__item.flex
                .about__item-image-part
                  svg.about__item-image
                    use(xlink:href=item.image)
                .about__item-text-part !{item.text}
        else
          .about__right-text Использование современных технологий и опыт наших специалистов позволяют сократить сроки выполнения земляных работ и устройства фундаментов до 40% по сравнению с аналогичными предложениями на рынке, и выполнять работы качественно, в сжатые сроки на взаимовыгодных условиях. <br><br>Правила и порядок проведения инженерных изысканий регламентируется государственными стандартами действующими на территории РФ.
