-
  var equipment = {
    header: 'Наша техника',
    text: 'Наша компания является собственником буровой техники. Мы гарантируем ее исправность и отсутствие проблем в процессе эксплуатации. Вся техника соответствует техническим регламентам и имеет регистрацию в контролирующих органах',
    items: [
      {
        image: 'img/equipment-01.jpg',
        name: 'Экскаватор гусеничный Case CX290В',
        props: [
          { key: 'Мощность двигателя', value: '290 л.с.' },
          { key: 'Рабочий вес', value: '29 100 кг' },
          { key: 'Макс. объем ковша', value: '1700 л' },
          { key: 'Макс. размах', value: '9.42–9.90 м' },
          { key: 'Макс. глубина копания', value: '6,57–7,10 м' },
        ],
        prices: [
          { key: 'час', value: '5 000' },
          { key: 'смена', value: '40 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-02.jpg',
        name: 'Гусеничный экскаватор JCB JS220',
        props: [
          { key: 'Эксплуатационная масса', value: '22 550 кг' },
          { key: 'Емкость ковша', value: '1,19 м<sup>3</sup>' },
          { key: 'Максимальная глубина копания', value: '6,6 м' },
          { key: 'Мощность двигателя', value: '172 л.с.' },
          { key: 'Максимальное усилие отрыва на рукояти', value: '14 610 кгс' },
          { key: 'Максимальное усилие отрыва на ковше', value: '15 800 кгс' },
        ],
        prices: [
          { key: 'час', value: '5 000' },
          { key: 'смена', value: '40 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-03.jpg',
        name: 'Сваевдавливающая установка Sunward ZYJ 240',
        props: [
          { key: 'Масса техники', value: '109000 кг' },
          { key: 'Мощность двигателя', value: '59 кВт' },
          { key: 'Шаг продольный/горизонтальный', value: '3000 мм / 600 мм' },
          { key: 'Угол поворота машины', value: '10 град' },
          { key: 'Размеры сваи', value: '300–500 мм' },
          { key: 'Габаритные размеры', value: '10000х6200х2920мм' },
        ],
        prices: [
          { key: 'час', value: '5 000' },
          { key: 'смена', value: '40 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-04.jpg',
        name: 'Вибропогружатель Daedong DPD600T',
        props: [
          { key: 'Эксплуатационная масса', value: '1900 кг' },
          { key: 'Мощность гидромотора', value: '201 л.с.' },
          { key: 'Частота', value: '3 000 об/мин' },
          { key: 'Совместимость с экскаватором', value: '30-40 тн' },
          { key: 'Вращение', value: '360°' },
          { key: 'Габаритные размеры', value: '1363х757х2100 мм' },
        ],
        prices: [
          { key: 'час', value: '5 000' },
          { key: 'смена', value: '40 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-05.jpg',
        name: 'Бурильно-Крановая машина KANGLIM KDC-5600',
        props: [
          { key: 'Глубина бурения', value: '5000 мм' },
          { key: 'Диаметр отверстия', value: '350 мм' },
          { key: 'Рабочий радиус', value: '3,7–9,6 м' },
          { key: 'Частота вращения', value: '43 об/мин' },
          { key: 'Крутящий момент', value: '810 кг/м' },
          { key: 'Рабочий радиус', value: '360º' },
        ],
        prices: [
          { key: 'час', value: '8 000' },
          { key: 'смена', value: '60 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-06.jpg',
        name: 'Ямобур JUNJIN SA 040C',
        props: [
          { key: 'Глубина бурения', value: '10,5 м' },
          { key: 'Диаметр отверстия', value: 'от 350 до 800 мм' },
          { key: 'Рабочий радиус', value: '3,7–9,6 м' },
          { key: 'Частота вращения', value: '38 об/мин' },
          { key: 'Крутящий момент', value: '827 кг/м' },
        ],
        prices: [
          { key: 'час', value: '5 000' },
          { key: 'смена', value: '40 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-07.jpg',
        name: 'Шнековая буровая установка (УБШМ-1-20)',
        props: [
          { key: 'Масса установки', value: '400 кг' },
          { key: 'Глубина бурения', value: '15-50 м' },
          { key: 'Ход вращателя', value: '1750 мм' },
          { key: 'Максимальный крутящий момент', value: '2200 Н*м' },
          { key: 'Габаритные размеры', value: '850х1000х2600мм' },
        ],
        prices: [
          { key: 'час', value: '8 000' },
          { key: 'смена', value: '60 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-08.jpg',
        name: 'Буровая установка ПБУ-2',
        props: [
          { key: 'Ход подачи', value: '3500 мм' },
          { key: 'Усилие подачи', value: '10 000 кгс' },
          { key: 'Частота вращения шпинделя', value: '25-430 об/мин' },
          { key: 'Крутящий момент', value: '500 кгм' },
          { key: 'Грузоподъемность лебедки', value: '2 600 кгс' },
          { key: 'Условная глубина бурения', value: '25-60 м' },
          { key: 'Диаметр бурения', value: '400-850 мм' },
        ],
        prices: [
          { key: 'час', value: '5 000' },
          { key: 'смена', value: '40 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
      {
        image: 'img/equipment-09.jpg',
        name: 'Установка буровая УКБ-12/25И',
        props: [
          { key: 'Масса установки', value: '137 кг' },
          { key: 'Глубина бурения', value: '5-25 м' },
          { key: 'Ход вращателя', value: '1200 мм' },
          { key: 'Мощность привода', value: '6 л.с. (4,4 кВт)' },
          { key: 'Габаритные размеры', value: '850х1000х2600мм' },
        ],
        prices: [
          { key: 'час', value: '3 000' },
          { key: 'смена', value: '20 000' },
        ],
        button: { href: '#', text: 'Заказать' }
      },
    ],
    inner: {
      header: 'Буровая техника',
      subheader: 'Буровые установки в аренду в Калуге',
      text: 'У нашей компании имеется в собственности необходимая техника для выполнения работ нулевого цикла строительства: разведочные и изыскательные работы, бурение, установка свай, укрепление котлованов и другие работы. Для этих работ мы используем ямобуры, вибропогружатели, бурильно-крановые установки и экскаваторы. Буровые установки можно взять в аренду',
    }
  }

.equipment#equipment
  .container
    if index
      h2.equipment__header !{equipment.header}
      .equipment__text !{equipment.text}
      .swiper-container
        .equipment-items.swiper-wrapper
          each item in equipment.items
            .equipment__item.swiper-slide
              .equipment__item-inner.flex
                .equipment__item-image-part
                  img.equipment__item-image(src=item.image, alt='')
                .equipment__item-text-part
                  .equipment__item-name !{item.name}
                  ul.equipment__item-props
                    each prop in item.props
                      li.equipment__item-prop #[span !{prop.key}:] !{prop.value}
                  .equipment__item-bottom.flex
                    .equipment__item-prices
                      .equipment__item-prices-text от
                      each price, index in item.prices
                        .equipment__item-price(class="equipment__item-price_" + (index + 1)) #[span !{price.value}] Р/!{price.key}
                    a.equipment__item-button.btn.btn_yellow(href=item.button.href data-name=item.name) #[span !{item.button.text}]
        .equipment-buttons
          .swiper-button-prev.equipment-button-prev
          .swiper-button-next.equipment-button-next
      .swiper-pagination.equipment-pagination
    else
      h2.equipment__header !{equipment.inner.header}
      .equipment__subheader.subheader !{equipment.inner.subheader}
      .equipment__text !{equipment.inner.text}
      .equipment-items
        each item in equipment.items
          .equipment__item
            .equipment__item-inner.flex
              .equipment__item-image-part
                img.equipment__item-image(src=item.image, alt='')
              .equipment__item-text-part
                .equipment__item-name !{item.name}
                ul.equipment__item-props
                  each prop in item.props
                    li.equipment__item-prop #[span !{prop.key}:] !{prop.value}
                .equipment__item-bottom.flex
                  .equipment__item-prices
                    .equipment__item-prices-text от
                    each price, index in item.prices
                      .equipment__item-price(class="equipment__item-price_" + (index + 1)) #[span !{price.value}] Р/!{price.key}
                  a.equipment__item-button.btn.btn_yellow(href=item.button.href data-name=item.name) #[span !{item.button.text}]
    
