-
  var services = {
    header: 'Наши услуги',
    items: [
      {
        image: 'img/services-01.jpg',
        header: 'Инженерные изыскания',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Выполнение инженерных изысканий является основным этапом будущего строительства и важным исходным элементом для проектирования. Результаты выполненных инженерных изысканий входят в состав Проектной документации',
          list: [
            'Наша организация выполняет полный комплекс инженерных изысканий:',
            'Инженерно-геологические изыскания',
            'Инженерно-экологические изыскания',
            'Топографо-геодезические изыскания (геодезия, топосъемка)',
            'Инженерно-гидрометеорологические изыскания',
            'Инженерно-геотехнические изыскания',
          ],
          textBottom: 'Для проведения исследований, наша организация имеет необходимое современное оборудование, аккредитованную лабораторию.',
        }
      },
      {
        image: 'img/services-02.jpg',
        header: 'Буровые работы',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Осуществляем буровые работы для возведения свайных оснований и проведения инженерных изысканий.  Наши технологии бурения позволяют решить проблемы обустройства свайных оснований при сложном грунте (скальник, песчаный грунт, глина) и возведении зданий в условиях плотной городской застройки',
          list: [
            'Мы применяем следующие технологии бурения:',
            'Буронабивные сваи',
            'Лидерное бурение',
            'Разведочное бурение',
          ],
          textBottom: 'Имеем необходимое оборудование: ямобуры, вибропогружатели, бурильно-крановые установки, буровые станки',
        }
      },
      {
        image: 'img/services-03.jpg',
        header: 'Свайные работы',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Наша компания осуществляет работы по возведению свайных фундаментов. Такой вид оснований используется при строительстве на слабых неустойчивых грунтах или в условиях городской застройки в скованных пространствах',
          list: [
            'При погружении свай используем следующие методы:',
            'Винтовые сваи',
            'Буронабивные сваи',
            'Грунтоцементные сваи',
            'Вдавливание свай',
          ],
          textBottom: 'Выбор определенного метода зависит от геологических условий и технических особенностей объекта',
        }
      },
      {
        image: 'img/services-04.jpg',
        header: 'Усиление фундаментов',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Выполняем полный комплекс работ по усилению фундаментов и грунтов в основании фундаментов.  Усиление грунтов подразумевает их упрочнение с целью создания дополнительной связи частиц между собой для снижения сжимаемости',
          list: [
            'Для усиления оснований используем следующие методы:',
            'Цементация грунтов и фундаментов',
            'Закрепление грунтов (смолизация и битумизация)',
          ],
          textBottom: '',
        }
      },
      {
        image: 'img/services-05.jpg',
        header: 'Испытания свай',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Данные испытания назначаются на стадии изысканий и рабочего проектирования, позволяют достаточно точно определить фактическую несущую способность свай в основании зданий и сооружений и сопоставление ее с расчетной, принятой в проекте.',
          list: [],
          textBottom: 'Испытания производятся на сваях, расположенных в местах с наихудшими для данного объекта грунтовыми условиями или дающих наибольшие отказы при их устройстве.',
        }
      },
      {
        image: 'img/services-06.jpg',
        header: 'Ограждение котлованов',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Выполняем работы по устройству ограждения котлованов, необходимые для предотвращения обрушения грунтовых стенок, защиты от попадания грунтовых вод и минимизации негативных воздействий на расположенные поблизости здания.',
          list: [],
          textBottom: 'В качестве основной методики для ограждения котлованов мы используем шпунтовую стенку,  укрепленную трубо-шпунтом определенного диаметра или шпунтом «Ларсена». Технология установки шпунтов выбирается исходя из специфики грунта: вдавливание, вибропогружение либо забивка.',
        }
      },
      {
        image: 'img/services-07.jpg',
        header: 'Обследование зданий',
        text: 'Полный комплекс свайных работ (буронабивные, задавливаемые и т.д.). Наши инженеры помогут с расчетом свайного фундамента, его проектированием и устройством свайного поля. Имеем в собственности современную технику и оборудование. Вы получите качественную работу в кротчайшие сроки по разумной цене',
        button: { href: '#', text: 'Подробнее' },
        inner: {
          textTop: 'Техническое обследование зданий и сооружений проводится во многих случаях, в том числе при предполагаемом возобновлении незавершенного строительства, последующей перепланировке зданий, капитальном ремонте, при реконструкции (модернизации) здания, а также при появлении сырости, промерзания или деформации стен, перекрытий и колонн.',
          list: [
            'Мы предлагаем обследование зданий и сооружений любой сложности:',
            'Визуальное и инструментальное обследование конструкций зданий',
            'Оценка технического состояния несущих строительных конструкций',
            'Выполнение поверочных расчетов несущих строительных конструкций на фактические или проектируемые нагрузки',
            'Обследование оснований и фундаментов',
            'Разработка рекомендаций по восстановлению или усилению конструкций',
          ],
          textBottom: '',
        }
      },
    ],
  }

.services#services
  if index
    .container
      h2.services__header !{services.header}
      .services-buttons
        .swiper-button-prev.services-button-prev
        .swiper-button-next.services-button-next
    .swiper-container
      .services-items.swiper-wrapper
        each item in services.items
          .services__item.swiper-slide
            .services__item-image-part
              img.services__item-image(src=item.image, alt='')
              .services__item-hidden
                .services__item-text !{item.text}
                a.services__item-button.btn.btn_white(href=item.button.href) #[span !{item.button.text}]
            a.services__item-text-part(href=item.button.href) !{item.header}
    .container
      .swiper-scrollbar.services-scrollbar
  else
    .container
      h2.services__header !{services.header}
      .services-items
        each item in services.items
          .services__item
            .services__item-inner
              .services__item-text-part
                p.services__item-header !{item.header}
                if item.inner
                  p !{item.inner.textTop}
                  h3 !{item.inner.list[0]}
                  if item.inner.list
                    ul
                      each li, index in item.inner.list
                        if index > 0
                          li !{li}
                  p !{item.inner.textBottom}
                a.services__item-button.btn.btn_yellow(href=item.button.href) #[span Подробнее]
              .services__item-image-part
                img.services__item-image(src=item.image, alt='')
